.ph-wrapper {
  position: relative;
  transition: all 0.3s ease-out;
  margin: 0;

  .ph-shadow,
  .ph-layers,
  .ph-layer,
  .ph-lighting {
    transition: all 0.3s ease-out;
  }

  .ph-shadow,
  .ph-layers,
  .ph-layer,
  .ph-lighting {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .ph-text {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    font-weight: 300;
  }

  .ph-shadow {
    height: 90%;
    width: 90%;
    left: 5%;
    top: 5%;
    background: none;
  }

  .ph-lighting {
    background-image: linear-gradient(135deg,
                      rgba(255, 255, 255, 0) 0%,
                      rgba(255, 255, 255, 0) 33%);
  }

  .ph-heading {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3rem;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

}
